<h4>List of existing Locations.</h4>
<div class="row">
  <div class="col-xs-4">Adresse</div>
  <div class="col-xs-2">Latitude</div>
  <div class="col-xs-2">Longitude</div>
  <div class="col-xs-4"></div>
</div>



    <% @locations.each do |location| %>
    <div class="row">
        <div class="col-xs-4">
          <%= location.address %>
        </div>
        <div class="col-xs-2">
          <%= location.latitude %>
        </div>
        <div class="col-xs-2">
          <%= location.longitude %>
        </div>
        <div class="col-xs-4">


          <%= link_to(location, :class => "btn btn-info") do %>
            <span class="glyphicon glyphicon-picture"></span> Show
          <%end %>

          <%= link_to(edit_location_path(location) , :class => "btn btn-info")  do %>
             <span class="glyphicon glyphicon-pencil"></span> Edit
          <% end %>

          <%= link_to( location, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-info") do %>
              <span class="glyphicon glyphicon-trash"></span>Destroy
          <% end %>
        </div>
    </div>
    <% end %>

<br>

<%= link_to(new_location_path, :class => "btn btn-info btn-lg")  do  %>
  <span class="glyphicon glyphicon-map-marker"></span> New Location
<% end %>
