<ul>
<% for location in @location.nearbys(10) %>
  <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
<% end %>
</ul><%# title "Location" %>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>


<p>

  <%= link_to( edit_location_path(@location), :class=> "btn btn-info") do %>
    <span class="glyphicon glyphicon-pencil"></span> Edit
  <%end%> |
  <%= link_to( @location, :confirm => 'Are you sure?', :method => :delete , :class => "btn btn-info" ) do%>
    <span class="glyphicon glyphicon-trash"></span> Destroy
  <%end%> |
  <%= link_to(locations_path , :class=> "btn btn-info") do  %>
  <span class="glyphicon glyphicon-list-alt"></span>  View All
  <%end%>
</p>
