<ul>
    <% for location in @location.nearbys(10) %>
      <li>
        <%= link_to location.address, location %>

        (<%= location.distance.round(2) %>
        miles)
      </li>
    <% end %>
</ul>
<%# title "Location" %>
<%#= @location.user.email%>
<p>
    <strong>Address:</strong>
    <%= @location.address %>
</p>
<p>
    <strong>Latitude:</strong>
    <%= @location.latitude %>
</p>
<p>
    <strong>Longitude:</strong>
    <%= @location.longitude %>
</p>
<!--p>Canvas</p-->
<!--canvas id="myCanvas" width="640" height="640"></canvas-->
<p>Image</p>
<%= image_tag @location.imageurl(@location.latitude,@location.longitude,@location.zoom , 'satellite','640x640').html_safe, :id => "main_image"  %>
<div id="LargeMap"></div>
<p>

    <%= link_to( edit_location_path(@location), :class=> "btn btn-info") do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
    <%end%>
    |
    <%= link_to( @location, :confirm => 'Are you sure?', :method => :delete , :class => "btn btn-info" ) do%>
    <span class="glyphicon glyphicon-trash"></span>
    Destroy
    <%end%>
    |
    <%= link_to(locations_path , :class=> "btn btn-info") do  %>
    <span class="glyphicon glyphicon-list-alt"></span>
    View All
    <%end%>
</p>
<button class="btn btn-success" id="show_large_map">Show Large Map</button>
<% content_for :var_block do %>

    var lat = <%=@location.latitude %>;
    var lng = <%=@location.longitude%>;
    var zoom = <%= @location.zoom%>;
    var tile_size = <%= @location.tile_size%>;
<% end %>
<% content_for :document_ready do %>

    //var canvas = document.getElementById('myCanvas');
    //var context = canvas.getContext('2d');
    //var imageObj = new Image();



    $(function () {

        //renderMap($("#id_0"), GetTileDelta({lat: <%=@location.latitude %>,lng: <%=@location.longitude%>}, 16, 640, 640, { x: 0, y: 0 }), '640x640' , 16);
        //for(var i = 0 ; i <= 11 ; i++){
        //  renderMap($("#id_"+i), GetTileDelta({lat: <%=@location.latitude %>,lng: <%=@location.longitude%>}, 16, 640, 640, { x: 0, y: i }), '640x640' , 16);
        //}

        //imageObj.onload = function () {
        //    context.drawImage(imageObj, 0, 0);
        //};

        //imageObj.src = '<%= @location.imageurl(@location.latitude,@location.longitude,16,'satellite','640x640').html_safe %>';
        $(document).on('click' , '#show_large_map' , function(){
          map_setup();
        })

    });
<% end %>
