
<!DOCTYPE html>
<html>
  <head>
    <title>Mapmerge Online - Create simple and easy larg location Images.</title>
    <meta name="description" content="MapMerge is a simple Application to create large Images of locations via the Google Map API.">
    <meta name="keywords" content="map, merge, location images, application" />
    <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <%= render  partial: "shared/navigation" %>
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= render  partial: "shared/footer" %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript">
      <%= yield :var_block %>
        $(function () {
          <%= yield :document_ready %>
        });
      <% if notice.present? %>


        $(function(){

          $.notify({
            // options
            message: '<%= notice %>'
          },{
            // settings
            type: 'success'
          });
        });

      <% end %>
    </script>
  </body>
</html>
